html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(185, 75%, 39%);
}

//  Flex
.flex {
  display: flex;
  &-jc-c {
    justify-content: center;
  }
}
