.card {
  position: relative;
  height: 23.75rem;
  max-width: 24rem;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 1px 4px $darkGrayishBlue;
  margin: 12px;
  //  iphone 5
  @media (orientation: landscape) and (max-width: 600px) {
    height: 18rem;
    //margin-top: auto;
  }
}

.card_content_thumbnail {
  position: absolute;
  top: 25%;
  //  iphone 5
  @media (orientation: landscape) and (max-width: 600px) {
    width: 26%;
  }
  max-width: 100px;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}
.card_background {
  width: 100%;
  height: 84%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  //  iphone 5
  @media (orientation: landscape) and (max-width: 600px) {
    height: 42%;
  }
}

.card_content {
  height: 100%;
  width: 100%;
  &_details {
    margin-top: 44px;
  }
  &_details_name {
    color: $veryDarkSaturadtedBlue;
    font-weight: $font-heavy;
    font-size: $font-nameAndStats;
  }
  &_details_age {
    font-size: $font-nameAndStats;
  }
  &_details_city {
    margin-top: 12px;
  }
}
.card_info {
  justify-content: space-evenly;
  width: 100%;

  border-top: 0.1px solid $darkGray;
  padding-top: 24px;
  padding-bottom: 24px;
  //  iphone 5
  @media (orientation: landscape) and (max-width: 600px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &_type {
    color: $darkGray;
  }
  &_count {
    color: $veryDarkSaturadtedBlue;
    font-weight: $font-heavy;
    font-size: $font-nameAndStats;
    margin-bottom: 4px;
  }
}
