.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home::before {
  content: url("../../images/bg-pattern-top.svg");
  position: absolute;
  top: -50%;
  right: 51.5%;
  z-index: -1;
}

.home::after {
  content: url("../../images/bg-pattern-bottom.svg");
  position: absolute;
  bottom: -60%;
  left: 51.5%;
  z-index: -1;
}
